<div class="row m-4">
  <div class="col-md-12 text-center m-2">
    <mat-form-field class="example-full-width">
      <mat-label>Recherche par nom du produit</mat-label>
      <input (keyup)="onChange($event)" matInput placeholder="Nom produit" />
    </mat-form-field>
  </div>
</div>
<hr />
<div class="row marg-body">
  <div
    class="col-md-2 col-10 col-sm-3 col-xs-3 m-2"
    *ngFor="let item of this.filteredItems"
  >
    <mat-card [formGroup]="productForm">
      <img mat-card-image src="{{ item.photo }}" alt="Photo of a Shiba Inu" />

      <div>
        <mat-card-title class="font-header text-center">
          {{ item.name }}
        </mat-card-title>
      </div>

      <mat-card-content>
        <div class="text-center">
          <p>
            <span class="font-title">STOCK: {{ item.qte }} </span
            ><mat-icon color="primary" class="min-size">local_offer</mat-icon>
          </p>
          <p>
            <span class="font-title"> PRIX:{{ item.prix }} €</span>
            <mat-icon color="primary" class="min-size">shopping_cart</mat-icon>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Quantité demandée</mat-label>
              <input
                matInput
                placeholder="Quantité demander"
                formControlName="qteDemander"
                value="1"
              />
            </mat-form-field>
          </p>

          <p></p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="text-center">
          <button
            mat-raised-button
            (click)="commanderProduits(item)"
            color="primary"
          >
            Commander
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="this.filteredItems.length === 0">
  <div class="text-center">
    <img class="img-fluid" style="height: 200px" src="assets/images.png" />
  </div>
</div>
